<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fab.cdt.cmake.ui.CmakeConfigurationsEditor"
            default="true"
            filenames="cmakeconfigs.json"
            icon="icons/CMakeLogo.gif"
            id="fab.cdt.cmake-extensions.cmakeOptionsEditor"
            name="CMake Configurations">
      </editor>
   </extension>

</plugin>
